.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap, 1rem);
  text-transform: uppercase;
  font-family: --;
  padding: 40px;
}

.header-menu {
  display: flex;
  gap: var(--gap, 1rem);
}

.header-nav {
  background-color: var(--clr-light);
  opacity: 0.5;
}
