.main-heading {
  flex-direction: column;
  text-transform: uppercase;
}

.main-circle {
  height: 274px;
  width: 274px;
  border-radius: 50%;
  background-color: white;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.main-paragraph {
  width: 46ch;
}
